@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:wght@400;700&family=Ubuntu&display=swap');



*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;


}
.container{
    width: 100%;
    min-height: 100vh;
    background:#5c539d;
    background: whitesmoke;
}
.container h2{
    color:#e33058;
    font-size: 32px;
    padding: 50px 0;
    text-align: center;
    font-family: 'Ubuntu',sans-serif;
}
.price-row{
    width: 90%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 25px;


}
.price-col{
    background: #1f283b;
    padding: 10% 15%;
    border-radius: 10px;
    color: white;
    text-align: center;
    box-shadow: 0 10px 30px 5px rgba(0,0,0,0.5);


}
.price-col p{
    font-size: 24px;
}
.price-col h3{
    font-size: 40px;
    margin: 20px 0 40px;
}
.price-col h3 span{
    font-size: 16px;
}
ul{
    text-align: left;
    margin: 20px 0;
    color:#ddd;
}
li{
    list-style: none;
    font-size: 16px;
}
li::before{
    content: '\2022';
    color: #e33058;
    font-weight: bold;
    margin-right: 8px;
}
.price-col button{
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: white;
    font-size: 15px;
    border: 1px solid #e33058;
    border-radius: 6px;
    margin-top: 30px;
    cursor: pointer;
    transition: background 0.5s;
}
.price-col button:hover{
background: #e33058;

}
